<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/dashboard.css">
</head>
<body>
    <div class="titulo">
        <h1><img class="left-login-img" src="../static/images/logo.png" alt="imagem" width="200" height="70"></h1>
        <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
    </div>
    <div class="cards-container">
        <div class="card">
            <h2>Margem de contribuição</h2>
            <a href="https://app.powerbi.com/" class="card-link"><img class="left-login-img" src="../static/images/analysis-animate.svg" alt="imagem" width="80" height="80"></a>
        </div>
        <div class="card">
            <h2>Vendas</h2>
            <a href="https://app.powerbi.com/" class="card-link"><img class="left-login-img" src="../static/images/sales-consulting-animate.svg" alt="imagem" width="80" height="80"></a>
        </div>
        <div class="card">
            <h2>Análise de Orçamento</h2>
            <a href="https://app.powerbi.com/" class="card-link"><img class="left-login-img" src="../static/images/manage-money-animate.svg" alt="imagem" width="80" height="80"></a>
        </div>
        <div class="card">
            <h2>Análise de Produção</h2>
            <a href="https://app.powerbi.com/" class="card-link"><img class="left-login-img" src="../static/images/manufacturing-process-animate.svg" alt="imagem" width="80" height="80"></a>
        </div>
        <div class="card">
            <h2>Produção 4</h2>
            <a href="https://app.powerbi.com/" class="card-link"><img class="left-login-img" src="../static/images/business-plan-animate (1).svg" alt="imagem" width="80" height="80"></a>
        </div>
        <div class="card">
            <h2>Produção 5</h2>
            <a href="https://app.powerbi.com/" class="card-link"><img class="left-login-img" src="../static/images/company-animate.svg" alt="imagem" width="80" height="80"></a>
        </div>
    </div>
</body>
</html>
